.ex-survey {
    .ex-survey__progress {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    .ex-survey__order {
        font-weight: bold;
    }


    .ex-survey__intro, .ex-survey__outro {
        background: #FFF;
        font-size: var(--van-font-size-md);
        margin: var(--van-padding-md);
        padding: 48px var(--van-padding-md);
        border-radius: var(--van-radius-lg, 8px);

        .ex-survey__title {
            text-align: center;
            font-size: var(--van-font-size-lg);
            font-weight: bold;
            margin-bottom: 48px;
        }

        .ex-survey__start-btn, .ex-survey__finish-btn {
            margin-top: var(--van-padding-xl);
        }
    }

    .ex-survey__form {
        margin-top: 5px;
        margin-bottom: 100px;
    }
}