.ex-signature-pad {
    padding: var(--van-padding-md);
    .ex-signature-pad__title {
        margin-bottom: var(--van-padding-md);
        font-size: var(--van-font-size-md);
        font-weight: 500;
    }

    .ex-signature-pad__canvas-container {
        width: 100%;
        box-sizing: border-box;
        .ex-signature-pad__canvas {
            width: 100%;
            height: 150px;
            border: 1px solid #ddd;
            border-radius: var(--van-radius-md);
        }
    }


    .ex-signature-pad__agreement {
        margin: var(--van-padding-sm) 0 ;
        font-size: var(--van-font-size-sm);
        color: var(--van-gray-6);
        text-align: center;
    }

    .ex-signature-pad__actions {
        display: flex;
        justify-content: space-around;
        margin-top: var(--van-padding-md);
    }

}